.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  margin: 0px auto;
}

.Header-logo {
  font-family: 'Norticia Text', serif;
  font-weight: bold;
  font-size: 18px;
}

.Header-nav__item {
  color: #ffffff;
  margin: 0 5px;
  text-decoration: none;
}

.Header-nav__item:hover {
  text-decoration: underline;
}

.Hero {
  width: 100%;
  height: 600px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.6) 100%), 
                    url('./home-background.jpg');
  background-size: cover;
  position: relative;
}

.Hero-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 20px;
  max-width: 550px;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Norticia Text', serif;
  text-align: center;
}

@media only screen and (min-width: 1250px) {
  .Hero {
    height: 100vh;
  }
}

.Blogs-container {
  max-width: 600px;
  margin: 10px auto;
}

.Blogs-heading {
  font-family: 'Norticia Text', serif;
  font-weight: bold;
  padding-top: 20px;
  font-size: 26px;
}